---
layout: page
title: Blog
permalink: /blog/
description: A blog about design
---
<!-- <p class="text-center"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe</a></p> -->
<h1 class="pageheader__blog">My work</h1>

<div class="flexbox flexbox__wrap flexbox--align-stretch flexbox--justify-content">
    {% for post in site.posts %}
    <div class="child__blogpost">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <img class="img-circle width--100percent" src="{{ site.imgurl }}{{ post.url }}{{ post.img }}" alt="{{ post.title }}">
        </a>
        <div class="child__blogpost--textcontainer">
            <p><span class="blog__date">{{ post.date | date: "%b %-d, %Y" }}</span> <span class="label
                {% if post.categories contains "web" %}label__web{% endif %}
                {% if post.categories contains "product" %}label__product{% endif %}
                {% if post.categories contains "consept" %}label__consept{% endif %}">{{ post.categories }}</span></p>
            <h3>
                <a class="link__text" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            <p class="blog__paragraph">{{ post.meta }}</p>
        </div>
    </div>
    {% endfor %}
</div>
