.flexbox {
    display: flex;

    &__wrap {
        flex-wrap: wrap;
    }

    &--align-stretch {
        align-items: stretch;
    }

    &--center {
        align-items: center;
    }

    &--end {
        align-items: flex-end;
    }

    &--direction-column {
        flex-direction: column;
    }

    &--justify-content {
        justify-content: center;
    }

}

.fontpage {
    &__step1 {
        &--height {
            height: auto;
        }
    }
}
