@import 'https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900';
@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,500,500i,600,600i,700,700i';
$main-font: 'Heebo', sans-serif;
$serif-font: 'Cormorant Garamond', serif;

body {
    margin: auto;
}

p {
    line-height: 1.5;
    font-family: $serif-font;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: $main-font;
    margin: 0;
}


/* FONTS */
h1 {
    font-size: 35px;
    line-height: 45px;
}

h2 {
    font-size: 25px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 25px;
}

.text-center {
    text-align: center;
}

a {
    &:link {
        color: $primary-color;
        text-decoration: none;
    }
    &:visited {
        color: $primary-color;
    }
    &:hover {
        color: $primary-color;
    }
}


a.link {
    &__text {
        &:link {
            color: $primary-color;
            text-decoration: none;
            border-bottom: 2px solid $primary-light-30;
        }
        &:visited {
            color: $primary-color;
            border-bottom: 2px solid $primary-light-30;
        }
        &:hover {
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
        }
    }
}

.font-weight-bold {
    font-weight: 600;
}

/* SIZE */
.width {
    &--100percent {
        width: 100%;
    }
    &--50percent {
        width: 50%;
    }
    &--25percent {
        width: 25%;
    }
}

/* BACKGROUNDS */
.bg {
    &__color {
        &--white-transparent {
            background-color: rgba(255,255,255,0.6);
        }

        &--light-gray {
            background-color: #f1f1f1;
        }
    }
}

/* Mobile first FTW */
@media screen and (min-width: $screen-xs) {
    .bg {
        &__color {
            &--white-transparent {
                background-color: rgba(255,255,255,0);
            }
        }
    }
}

.homepage {
    &__kind-logo {
        height: 75px;
    }

    &__bg-img {
        background-image: url(/img/bg/bg-kjetil.jpg);
        background-size: cover;
        background-position: center right;
    }
}

/* Mobile first FTW */
@media screen and (min-width: $screen-sm) {
    .homepage {
        &__kind-logo {
            height: 150px;
        }
    }
}

.textcolor {
    &--primary {
        color: #00deff;
    }

    &--gray {
        color: $base-color;
    }

    &--graylight {
        color: $base-light-30;
    }
}


.position-fixed {
    position: fixed;

    &__top {
        top: 0;

        &--z-index-1000 {
            z-index: 1000;
        }

        &--full-width {
            width: 100%;
        }
    }
}

.blog {
    &__header {
        color: $primary-color;
        margin-bottom: 20px;
        border-bottom: solid 4px #333;
    }

    &__paragraph {
        font-family: $serif-font;
        font-size: 18px;
        line-height: 1.5;
    }
    &__date {
        font-family: $main-font;
        font-size: 12px;
        line-height: 1.5;
        color: $base-light-30;
    }
}

.homepage__arrow-down--pulse {
    height: 30px;
    animation: pulse 1s ease infinite;
    /* transition: transform 0.2s; */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.footer {
    background-color: rgba(0,0,0,0.9);
    padding: 20px;

    &__text {
        text-align: center;
        font-weight: 300;

        &--color {
            color: white;
        }
    }
}

/* Mobile first FTW */
@media screen and (min-width: $screen-sm) {
    h1 {
        font-size: 90px;
        line-height: 100px;
    }

    h2 {
        font-size: 30px;
        line-height: 45px;
    }

    h3 {
        font-size: 25px;
    }
}
