<div class="margin__top--50px">
    <footer class="footer">
        <div class="text-center">
            {% include svgs/kind-logo.html %}
            <h3 class="footer__text footer__text--color">{{ site.title }}</h3>
            <p class="footer__text"><a class="link__text" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            <p class="footer__text footer__text--color">{{ site.description }}</p>
        </div>
    </footer>
</div>

<script src="{{ site.baseurl }}/scripts/jquery.min.js"></script>
<script src="{{ site.baseurl }}/scripts/scrollto.js"></script>
<script src="{{ site.baseurl }}/scripts/echo.js"></script>

<!-- Echo.js Lazy load images -->
<script>
  echo.init({
    offset: 100,
    throttle: 100,
    unload: false,
    callback: function (element, op) {
      console.log(element, 'has been', op + 'ed')
    },
  });

  echo.init({
      callback: function (element, op) {
          if (op === 'load') {
              element.classList.add('fade-in');
          } else {
              element.classList.remove('fade-in');
          }
      }
  });

  // echo.render(); is also available for non-scroll callbacks
</script>
